div(class='footer py-[40px] m:py-[64px] lg:py-[80px]')
	div(class='container')
		div(class='flex flex-col w-full m:w-[544px] lg:w-[1040px] mx-auto')
			div(class='flex flex-col')
				span(class='text-[#FFF] text-center text-[14px] m:text-[24px] lg:text-[28px] font-bold leading-[120%] tracking-[0.56px] pb-[8px] m:pb-[24px] lg:pb-[40px]') TERMS & CONDITIONS
				span(class='text-[rgba(255,255,255,0.80)] text-left m:text-center text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal pb-[20px] m:pb-[24px] lg:pb-[32px]') 
					| Receive up to $600 Cash Bonus to play in your favorite games. The amount of your bonus is based on the amount of your deposit. Deposits can be made using any of our available methods and must be between $25 and $2,000.
		div
			div(class='grid grid-cols-1 m:grid-cols-2 gap-[20px] m:gap-[32px] lg:gap-[64px] ')
				div(class='flex flex-col')
					div(class='pb-[20px] m:pb-[32px]') 
						p(class='text-[rgba(255,255,255,0.70)] text-[12px] m:text-[16px] lg:text-[18px] font-bold leading-normal mb-[12px] m:mb-[16px]') Get up to $500 Cash
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Earning deposit bonuses has never been easier. Secure up to $500 in cash bonuses based on your deposit amount.
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Receive up to $500 Cash Bonus to play in your favorite games. The amount of your bonus is based on the amount of your deposit. Deposits can be made using any of our available methods and must be between $25 and $2000.
					div(class='pb-[20px] m:pb-[32px]') 
						p(class='text-[rgba(255,255,255,0.70)] text-[12px] m:text-[16px] lg:text-[18px] font-bold leading-normal mb-[12px] m:mb-[16px]') What is the offer?
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| The deposit bonus is equal to 25% of the amount deposited and may be utilized across our full range of products including our sportsbook, casino, racebook and lottery.
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Minimum Cash Bonus amount is $6.25 for a $25 deposit
					div(class='pb-[20px] m:pb-[32px]') 
						p(class='text-[rgba(255,255,255,0.70)] text-[12px] m:text-[16px] lg:text-[18px] font-bold leading-normal mb-[12px] m:mb-[16px]') How it works?
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Rollover amounts for each wager are based on the lesser amount of risk or win in each selection. The rollover required for deposits and bonuses must be completed within these terms prior processing payouts from your account


				div(class='flex flex-col')
					div(class='pb-[20px] m:pb-[32px]') 
						p(class='text-[rgba(255,255,255,0.70)] text-[12px] m:text-[16px] lg:text-[18px] font-bold leading-normal mb-[12px] m:mb-[16px]') 25% Cash Bonus Requirements
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| The Cash Bonus comes with a 6x rollover requirement, and a 30-day hold on the deposit plus bonus amounts. For example, if you deposit $500 and receive a $125 Cash Bonus, you must wager $3,750 before withdrawing amounts under $625. Any amount over $625 is considered 'winnings' and can be withdrawn anytime. After meeting the rollover requirement and 30-day holding period, you may withdraw your full balance.
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Players should contact us within 24 hours of their deposit being accepted to request the "25% Cash Bonus" to be credited to their account. BetAnySports <a href="https://betanysports.eu/reward-promotions" class='anchor' id='rewardPromos'>General Reward Rules</a> apply to this promotion. No other promotions apply. Re-up restrictions may apply.
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| Less Juice wagering options will be eliminated as a condition of the "25% Cash Bonus". 
						p(class='text-[rgba(255,255,255,0.80)] text-[8px] m:text-[12px] lg:text-[16px] font-normal leading-normal mb-[12px] m:mb-[16px]') 
							| If a customer receives a promotion, then proceeds to lose all the funds deposited and the promotion, the customer will not be required to keep additional deposits in their account for a 30-day period from the point at which the promotion earning deposit was made. The requirements are considered met when an account balance reaches zero.