section(class='mid-banner py-[32px] m:py-[64px] lg:py-[80px] relative')
	div(class='container relative')
		div(class='flex flex-col pb-[20px] m:pb-[32px] lg:pb-[40px]')
			span(class='text-[#FFF] text-[28px] text-center m:text-[48px] lg:text-[80px] font-bold leading-[120%]')
				| Why play at 
				span(class='bas-gold-text') BAS?
			span(class='text-[#FFF] text-center text-[12px] m:text-[20px] lg:text-[32px] font-semibold leading-[180%] tracking-[-0.32px]') Discover all your perks
		div(class='flex flex-col m:flex-row')
			div(class='flex-1')
				div(class='grid grid-cols-1 m:grid-cols-2 gap-[24px] m:gap-x-[64px] m:gap-y-[32px] lg:gap-[80px]')
					div(class='w-full')
						div(class='flex flex-col items-start h-[auto]')
							div(class='flex flex-row m:flex-col items-start')
								span(class='text-[#fff] text-[24px] m:text-[48px] lg:text-[96px] font-normal leading-[100%] tracking-[-0.16px]') 20+ 
								span(class='text-[#fff] text-[18px] m:text-[26px] lg:text-[44px] font-normal leading-[120%] tracking-[-0.16px]') years of history
							span(class='text-[#FFFFFFB3] text-[10px] m:text-[16px] lg:text-[24px] font-normal leading-normal tracking-[-0.16px]') Built on a <span class='anchor-bold'>legacy</span> of trust, community and excitement.
					div(class='w-full')
						div(class='flex flex-col items-start h-[auto]')
							span(class='text-[#fff] text-[18px] m:text-[26px] lg:text-[44px] font-normal leading-normal tracking-[-0.44px]') Chase greatness
							span(class='text-[#FFFFFFB3] text-[10px] m:text-[16px] lg:text-[24px] font-normal leading-normal tracking-[-0.16px]') We're dedicated to creating a platform that's more than just a place to bet, it's a <span class='anchor-bold'>community.</span>
					div(class='w-full')
						div(class='flex flex-col items-start h-[auto]')
							span(class='text-[#fff] text-[18px] m:text-[26px] lg:text-[44px] font-normal leading-normal tracking-[-0.44px]') Payout methods
							span(class='text-[#FFFFFFB3] text-[10px] m:text-[16px] lg:text-[24px] font-normal leading-normal tracking-[-0.16px]') Choose from multiple secure and <span class='anchor-bold'>convenient</span> payment options to fund your play. Crypto available.
					div(class='w-full')
						div(class='flex flex-col items-start h-[auto]')
							span(class='text-[#fff] text-[18px] m:text-[26px] lg:text-[44px] font-normal leading-normal tracking-[-0.44px]') Fast payouts & big limits
							span(class='text-[#FFFFFFB3] text-[10px] m:text-[16px] lg:text-[24px] font-normal leading-normal tracking-[-0.16px]') Withdraw your <span class='anchor-bold'>winnings</span> quickly and enjoy high betting limits without hassle.
			div(class='w-full m:w-[200px] lg:w-[426px] relative')
				img(src="https://images.betanysports.eu/wp-content/uploads/mid_banner_casino.webp", alt="mid-banner-img", class='w-[200px] mx-auto object-cover m:hidden')
		img(src="https://images.betanysports.eu/wp-content/uploads/mid_banner_casino.webp", alt="mid-banner-img", class='absolute hidden m:block m:w-[300px] m:right-[-100px] m:top-[100px] lg:w-[500px] lg:right-[-50px] lg:top-[80px]')
	div(class='container flex justify-center !pt-[32px] m:pt-[80px]')
		a(href="https://signup.betanysports.eu", class='btn w-[280px] h-[45px] m:w-[355px] m:h-[75px] text-[14px] m:text-[24px] uppercase absolute bottom-[35px] m:bottom-0 m:relative' id='joinNowMidbanner') join now 
