section(class='top-banner flex flex-col pt-[4px] pb-[32px] m:pt-[16px] m:pb-[56px] lg:pt-[40px] lg:pb-[80px] relative container')
	
	div(class='flex flex-col mb-[12px] m:mb-[64px] lg:mb-[64px] items-center m:items-start relative')
		img(src="https://images.betanysports.eu/wp-content/uploads/composition_02.webp", alt="top-banner-img", 
			class=`
				hidden 
				m:block 
				absolute 
				m:right-[-74px] 
				m:top-[160px] 
				top-[120px] 
				lg:top-[43%] 
				-translate-y-1/2 
				z-[0] 
				m:max-w-[70%]  
				lg:w-[800px] 
				lg:right-[-120px] 
			`)
		span(class='text-[#fff] text-[16px] m:text-[24px] lg:text-[40px] text-center m:text-left font-bold leading-[120%] pb-[8px] uppercase') NEW PLAYERS OFFER
		span(class='flex w-[280px] m:w-full relative') 
			span(class='w-[115px] m:w-[80px] lg:w-[115px] bas-gold-text text-left text-[34px] m:text-[44px] lg:text-[72px] font-bold leading-[91.4%] tracking-[4.32px] uppercase flex items-center') up to
			span(class='flex-1 text-[84px] m:text-[104px] lg:text-[180px] bas-gold-text font-bold leading-[100%] tracking-[-3.6px]') $600
		span(class='bas-gold-text text-[34px] m:text-[44px] lg:text-[72px] font-bold leading-[120%] mb-[8px] lg:mb-[16px]') CASH BONUS
		img(src="https://images.betanysports.eu/wp-content/uploads/composition_02.webp", alt="top-banner-img", 
			class=`
				max-w-[280px] 
				relative 
				bottom-[8px] 
				left-[20px] 
				m:hidden 
			`)
		a(href="https://signup.betanysports.eu", class='btn w-[280px] h-[55px] m:w-[352px] m:h-[90px] lg:w-[600px] lg:h-[125px] text-[16px] m:text-[28px] lg:text-[40px] uppercase relative top-[-40px] m:top-[0]' id='joinNowTopheader') join now
	div(class='top-banner__grid z-[1] flex flex-col justify-center relative items-center')
		
		div(class='grid grid-cols-1 m:grid-cols-3 gap-[10px] w-[150px] m:w-full mx-auto relative top-[-20px]') 
			-for (var i = 0; i < topBullets.length; i++)
				-var item = topBullets[i]
				- console.log('Item:', item) // Debug log
				a(href=item.url, id=item.id, class='blue-box-gradient m:h-[88px] m:h-[132px] flex place-content-center m:border m:border-[#FFFFFF4D]')
					span(class='flex w-full justify-start m:justify-center items-center gap-[12px] capitalize')
						span(class=`
							rounded-[50%] 
							size-[28px] 
							size-[20px]
							m:size-[40px] 
							lg:size-[60px] 
							grid 
							place-items-center 
							text-[14px] 
							m:text-[20px] 
							lg:text-[32px] 
							text-[#fff] 
							font-bold 
							leading-[120%] 
							tracking-[-0.32px]
							border-[1px]
							border-[#fff]
						`)= item.number
						span(class='text-[14px] m:text-[20px] lg:text-[32px] text-[#FFF] font-bold leading-[120%] tracking-[-0.24px]')= item.text || item.title || item.label || item.description
