div(class='container min-h-[var(--header-height)]  w-full z-[100] flex items-center justify-between')
	a(href="https://signup.betanysports.eu?utm_campaign=canadian-sportsbook-offer-all-a-DBC3018-signup-logo" id='topHeader') 
		img(src='https://images.betanysports.eu/wp-content/uploads/logo-4.svg', alt='logo' class='w-[58px] h-[22px] m:w-[119px] m:h-[45px]')
	img(src='https://images.betanysports.eu/wp-content/uploads/canadians.png', alt='logo' class='size-[48px] m:hidden')
	img(src='https://images.betanysports.eu/wp-content/uploads/sticker-h.svg', alt='logo' class='w-[79px] h-[23px] m:w-[200px] m:h-[200px]')
