div(class='container min-h-[var(--header-height)]  w-full z-[100] flex items-center justify-between')
	a(href="https://signup.betanysports.eu?" id='topHeader') 
		img(src='https://images.betanysports.eu/wp-content/uploads/logo-4.svg', alt='logo' class='w-[58px] h-[22px] m:w-[119px] m:h-[45px]')
	img(src='https://images.betanysports.eu/wp-content/uploads/sticker-h.png', alt='logo' class='w-[79px] h-[24px] m:w-[164px] m:h-[50px]')