* {
    font-family: 'Aeonik', sans-serif !important;
}

.navbar {
    background-color: #621D5C;
    min-width: 320px;
    width: 100%; 
    position: relative; 
    top: 0; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.buttonset input[type=radio]:checked+label {
    background: HSL(var(--button-shade));
    border-color: #d9d8d8 !important;
    color: HSL(var(--button-color));
}

a.menubutton {
	border-radius: 0px;
}

a.menubutton:focus {
    background-color: #9c2992; 
    border: none;
    outline: none; 
	box-shadow: none; 
}

#navmenu li a.menubutton i {
    display: none;
}

a.menubutton:hover,
a.menubutton:active {
    text-decoration: none;
    background-color: #9c2992; 
    color: #FFC440;
    border: none; 
}
#depositbanner{
	 background-color: #791070;
	 padding: 10px
}
.pagebanner .bannerheader{
	font-size:16px !important;
	text-align: left !important
}
.pagebanner .normaltext{
	font-size:12px !important;
	display: flex;
    align-items: center;
}


main {
	background-color: rgba(255, 255, 255, 0.05);
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px; 
	padding-left: 20px;
	padding-right: 20px;
	min-width: 320px;
	max-width: 800px;
	padding-top: 32px;
	padding-bottom: 32px;
}

#newCustomerIcon {
  color: white;
}

.normaltext{
	color: white;
}


/* BA - Currency Selection Page */

.pagebanner {
	background: transparent;
	padding: 0px;
	margin: 0px;
}

.pagebanner .bannerheader {
    color: #FFF; 
    text-align: center;
    font-size: 32px; 
    font-style: normal; 
    font-weight: 700;
    line-height: 1.06; 
    letter-spacing: -0.64px; 
	margin-bottom: 8px;
}

.pagebanner .normaltext {
    color: #FFF; 
    font-size: 13px;
    font-style: normal; 
    font-weight: 400; 
    line-height: 1.3; 
    letter-spacing: 0.26px; 
}

.pagebanner a.simplebutton {
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 4px;
    padding: 8px 16px; 
    border-radius:4px;
    background: #5a0153; 
    color: #ffffff;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; 
    letter-spacing: 0.22px;
    text-transform: uppercase;
    font-feature-settings: 'liga' off; 
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease; 
}

.pagebanner a.simplebutton:hover {
    background:#9c2992; 
    color: #ffffff; 
}

.pagebanner a.simplebutton .fa {
    display: none;
}

.bigtext {
	display: flex;
  	justify-content: end;
    color: white;
}

.paymentmethodarea .bigtext {
	color: white;
	font-size: 15px;
	font-style: normal;
	font-weight: 700;
	line-height: 120%;
	letter-spacing: 0.3px;
	padding-right: 20px;
}

.paymentmethodarea .bigtext:hover {
  color: white;
}

a.menubutton {
	background: #9c2992;
}

.freetextarea {
	background: #15051D;
	color: white;
}

.paymentmethodarea {
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.20);
	background: rgba(16, 4, 22, 0.20);
	padding: 16px;
}

.paymentmethodarea:hover {
	background: rgba(16, 4, 22, 0.60);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

a.paymentbutton {
	height: 30px;
	width: 90px;
}

.spritepp {
	width: 70px;
	height: 30px;
}

#depositoptions, #payoutoptions {
	row-gap: 4px;
}

a.learnmore {
    cursor: pointer;
    outline: none;
    position: absolute;
    inset-inline-end: 8px;
    inset-block-end: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    padding-bottom: 3.5px;
    background: rgba(255, 255, 255, 0.20);
    color: rgba(255, 255, 255, 0.6);
    font-size: 22px;
    text-decoration: none;
    border: none; 
    border-radius: 100px; 
    backdrop-filter: blur(12px); 
    margin-bottom: 17px;
    margin-right: 10px;
}

a.learnmore::before {
    content: "+";
}

a.learnmore:hover {
    background: rgba(255, 255, 255, 0.3);
}

#pmfilter {
    gap: 4px;
	padding-inline-start: 0px;
	background-image: none;
}

.labelelement {
  background-color: white; 
  color: purple; 
  border: none;
  border-radius: 50px;
  padding: 10px 20px; 
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease; 
  width: 20px;
}
.buttonset label{
	border: 1px solid #d9d8d8;
}

.buttonset.smalltext label {
	display: flex;
	height: 40px;
	padding: 8px 16px 8px 12px;
	justify-content: center;
	align-items: center;
	gap: 4px;
    border-radius: 0;
	
	background: #791070;
	backdrop-filter: blur(7px);
	color: #FFF;
	text-align: center;
	font-size: 11px;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	letter-spacing: 0.22px;
	text-transform: uppercase;
	width: auto;
	min-width: 0px;
	flex-grow: 0; 
    flex-shrink: 0;
} 

.buttonset input[type=radio]:checked+label {
	border-color: #d9d8d8 !important;
}

.buttonset input[type=radio]:checked + label::after {
    content: none !important;
}

.buttonset input[type=radio]:checked + label {
    background: white !important;
    color: black !important;
}

.buttonset.smalltext label:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    color: white; 
}

#pmfilter label[for="pm-card"]::before {
    content: "";
    display: inline-block;
    width: 24px; 
    height: 24px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Cashier-financial-creditcard.svg') no-repeat center center;
    background-size: contain;
    margin-right: 1px; 
}

.buttonset input[type=radio]:checked + label[for="pm-card"]::before {
	filter: brightness(0) invert(0);
}

#pmfilter label[for="pm-crypto"]::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Cashier-financial-bitcoin.svg') no-repeat center center;
    background-size: contain;
    margin-right: 0px;
}

.buttonset input[type=radio]:checked + label[for="pm-crypto"]::before {
    filter: brightness(0) invert(0);
}

#pmfilter label[for="pm-bank"]::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Cashier-financial-bank.svg') no-repeat center center;
    background-size: contain;
    margin-right: 1px;
}

.buttonset input[type=radio]:checked + label[for="pm-bank"]::before {
    filter: brightness(0) invert(0);
}

#pmfilter label[for="pm-alt"]::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Cashier-financial-chat.svg') no-repeat center center;
    background-size: contain;
    margin-right: 0px;
}

.buttonset input[type=radio]:checked + label[for="pm-alt"]::before {
    filter: brightness(0) invert(0);
}

.recentpaymentmethodarea {
    display: flex;
    height: auto;
    min-width: 320px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: #E9EDFF; 
    margin-top: 30px;
    margin-bottom: 40px;
}

.recentpaymentmethodarea .normaltext {
    display: flex;
    align-items: center;
    color: #1938CA; 
    font-size: 13px; 
    font-style: normal;
    font-weight: 400;
    line-height: 1.3; 
    padding-right: 10px;
    letter-spacing: 0.26px;
}

.recentpaymentmethodarea .normaltext::before {
    content: ""; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Info-Circle.svg') no-repeat center center; 
    background-size: contain;
    margin-right: 0px; 
}

.paymentmethoddetails {
    color: white;
    text-decoration: none;
	margin-block-end: 0px;
	padding-top: 10px;
	padding-bottom: 30px;
	padding-right: 20px;
}

.paymentmethoddetails a {
    color: #FFC440;
    text-decoration: none;
}

.paymentmethoddetails a:hover {
    text-decoration: underline; 
}

.paymentmethoddetails .paymentlinks {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.paymentmethoddetails .smalltext.simplebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px; 
    width: auto; 
    height: 40px; 
    padding: 8px 16px; 
    border-radius: 140px; 
    background: rgba(255, 255, 255, 0.20); 
    backdrop-filter: blur(12px);
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s ease, color 0.2s ease;
    margin-top: 3px;
    margin-left: auto;
}

.pmimagelisting {
    padding-top: 15px;
}

.paymentmethoddetails .smalltext.simplebutton:hover {
	background: rgba(255, 255, 255, 0.05);
	border-color: rgba(255, 255, 255, 0.50);
}

.freetextarea {
    color: rgba(255, 255, 255, 0.50); 
    background: none;
}

.freetextarea .help {
    display: inline-flex;
    justify-content: center; 
    align-items: center;
    width: 20px; 
    height: 20px;
    background: rgba(255, 255, 255, 0.50); 
    color: #000; 
    border-radius: 50%; 
    font-size: 14px; 
    font-weight: bold; 
    text-align: center; 
}

.iframeMobile-container {
	position:static !important;
    height: auto;
}

#backtotop {
    display: none !important; 
}

/* BA - Crypto Page */

.formheader {
    display: flex; 
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center; 
    gap: 8px; 
    color: #FFF;
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.06;
    letter-spacing: -0.64px;
}

.formheader .helplink {
    font-size: 14px; 
    font-weight: 400; 
    color: #FFF;
    text-align: left;
}

.formsection .noticemsgsmall {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-width: 320px;
    padding: 8px;
    background: #E9EDFF;
    color: #1938CA;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
	border-radius: 0px;
    letter-spacing: 0.26px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-right: 10px;
}

.formsection .smalltext {
	padding-left: 48px;
}

.formsection .noticemsgsmall::before {
    content: "";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: url('https://images.betanysports.eu/wp-content/uploads/Info-Circle.svg') no-repeat center center;
    background-size: contain;
    margin-right: 8px;
}

.help {
    display: flex; 
    width: 32px; 
    height: 32px; 
    padding: 8px; 
    align-items: center; 
    gap: 0px; 
	font-weight: bold;
    border-radius: 100px; 
    background: rgba(255, 255, 255, 0.20); 
    backdrop-filter: blur(12px); 
    justify-content: center; 
    color: white;
    font-size: 18px; 
    text-align: center;
}

.help:hover {
    background: rgba(255, 255, 255, 0.15); 
	border: none;
}

.helplink a {
    text-decoration: none; /* Removes underline from the link */
}

.helplink a:hover {
    text-decoration: none; /* Ensures no underline appears on hover */
}

/* MEDIA */

/* TABLETS & DESKTOPS */

@media (min-width: 768px) {
    main {
        padding-left: 100px; 
		padding-right: 100px;
    }
}

/* MOBILE */

@media (max-width: 768px) {
    body {
        background: url('https://images.betanysports.eu/wp-content/uploads/mobile-background-image.png') no-repeat center center;
        background-size: cover; 
    }
}
