::-moz-selection {
  color: white;
  background: var(--base-color);
}

::selection {
  color: white;
  background: var(--base-color);
}

html, body {
  font-family: "DM Sans", sans-serif;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-style: normal;
  font-weight: 600;
}

:is(p, span, a, ul li, ol li, table td, table th) {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0px;
  --paragraph-color: #1F2024;
}
@media (min-width: 960px) {
  :is(p, span, a, ul li, ol li, table td, table th) {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
  }
}

:is(table th) {
  font-weight: bold;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}
@media (min-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -0.66px;
  }
}

h2 {
  font-size: 29px;
  line-height: 35px;
  letter-spacing: -0.58px;
}
@media (min-width: 960px) {
  h2 {
    font-size: 41px;
    line-height: 49px;
    letter-spacing: -0.82px;
  }
}

h3 {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.48px;
}
@media (min-width: 960px) {
  h3 {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: -0.54px;
  }
}

h4 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.4px;
}
@media (min-width: 960px) {
  h4 {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: -0.46px;
  }
}

h5 {
  font-size: 17px;
  line-height: 27px;
  letter-spacing: -0.34px;
}
@media (min-width: 960px) {
  h5 {
    font-size: 19px;
    line-height: 23px;
    letter-spacing: -0.38px;
  }
}

h6 {
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.28px;
}
@media (min-width: 960px) {
  h6 {
    font-size: 15px;
    line-height: 27px;
    letter-spacing: -0.3px;
  }
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

ol, ul {
  display: block;
  margin-block: 1em;
  margin-inline: 0;
  padding-inline-start: 40px;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

.internal-module-style {
  color: red;
}

/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*=language-],
pre[class*=language-] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #272822;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #f8f8f2;
}

.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672;
}

.token.boolean,
.token.number {
  color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74;
}

.token.keyword {
  color: #66d9ef;
}

.token.regex,
.token.important {
  color: #fd971f;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

:root {
  --base-color: steelblue;
  --header-height: 80px;
  --header-height: 80px;
}
@media (min-width: 800px) {
  :root {
    --header-height: 152px;
  }
}

::-moz-selection {
  color: white;
  background: #9e852e;
}

::selection {
  color: white;
  background: #9e852e;
}

.main-container {
  width: 100%;
  max-width: 3500px;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (min-width: 800px) and (max-width: calc(1600px - 1px)) {
  body {
    background-color: red;
  }
}
/*# sourceMappingURL=styles.css.map */
