extends ../config/template
append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
block main-container
	include ../components/style-guide.pug
	include ../components/sprite-svg.pug
	include ../components/flex-module
	include ../components/grid-module
	include ../components/sidebar-module
	include ../components/table-module
	include ../components/list-module
	include ../components/text-module
	include ../components/json-data
	include ../components/markdown 
block main-footer
block scripts