extends ../config/template

append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'

block main-header
block main-container
	include ../components/style-guide
	include ../components/editor-css
	include ../components/flex-module
	include ../components/grid-module
	include ../components/json-data
	include ../components/list-module
	include ../components/markdown
	include ../components/sidebar-module
	include ../components/sprite-svg
	
	include ../components/table-module
	include ../components/text-module			
block main-footer
block scripts
