extends ../config/template

append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'

block main-header
block main-container
	div(class='main-container')
		div(class='container')
			include ../style-guide/style-guide
			include ../style-guide/editor-css
			include ../style-guide/flex-module
			include ../style-guide/grid-module
			include ../style-guide/json-data
			include ../style-guide/list-module
			include ../style-guide/markdown
			include ../style-guide/sidebar-module
			include ../style-guide/sprite-svg
			include ../style-guide/table-module
			include ../style-guide/text-module
block main-footer
block scripts
