extends ../config/template2

append config
	-currentPage		= "home"
	-siteName			= 'Layouts'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'

block main-header
	include ../modules/top-header
block main-container
	include ../modules/top-banner-sports
	//- include ../modules/top-banner-lotto
	//- include ../modules/top-banner-casino
	include ../modules/mid-banner
	include ../modules/trusted-slider
	include ../modules/four-ways-slider
	include ../modules/outstanding-slider

block main-footer
	include ../modules/footer_casino

block scripts
	//- Aquí van los scripts específicos de la página