@theme {
	--breakpoint-md: initial;
	--breakpoint-2xl: initial;
    --breakpoint-s: 0;
    --breakpoint-sm: 480px;
    --breakpoint-m: 640px;
    --breakpoint-l: 960px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1600px;
    --breakpoint-xxl: 1900px;
	--primary-color: #000;
	--secondary-color: #fff;
	--tertiary-color: #000;
	--quaternary-color: #fff;
	--quinary-color: #000;
	--colo-kike: red
}