section(class='main-container')
	div(class='container')
		div(class='flex flex-col lg:flex-row gap-[50px]')
			div(class='order-2 lg:order-1 w-full lg:w-[200px] min-h-32') 
				ul(class="list-none flex flex-col gap-2 p-4 bg-gray-100 rounded-lg shadow-md sticky top-0 z-10")
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-1' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-1
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-2' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-2
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-3' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-3
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-4' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-4
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-5' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-5
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-6' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-6
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-7' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-7
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-8' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-8
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-9' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-9
					li(class="hover:bg-gray-200 rounded transition-colors")
						a(href='#component-10' class="block px-4 py-2 text-gray-700 hover:text-blue-600") component-10
			div(class='order-1 lg:order-2 w-full lg:flex-1 min-h-32')
				include style-guide-components/component-1.pug
				include style-guide-components/component-2.pug
				include style-guide-components/component-3.pug
				include style-guide-components/component-4.pug
				include style-guide-components/component-5.pug
				include style-guide-components/component-6.pug
				include style-guide-components/component-7.pug
				include style-guide-components/component-8.pug
				include style-guide-components/component-9.pug
				include style-guide-components/component-10.pug
block scripts
