@import "core/media-queries";
@import "core/fonts";
@import "components/components";
@import "core/prism";

:root{
	--base-color: steelblue;
	--header-height: 80px;
	// --bg-body: blue;
	--header-height: 80px;	
	@media (min-width: 800px) {
		--header-height: 152px;
	}
}
::selection {
	color: white;
	background: #9e852e;
}
.main-container{
	width: 100%;
	max-width: 3500px;
	margin: 0 auto;
	padding: 0 20px;
}
.container{
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;

}

body{
	@include fromTo(m,xl){
		background-color: red;
	}
}
